<label class="inputLabel inputLabel_{{error}}">
  <input name={{nameInput}} type={{typeInput}} class="input" placeholder="" />
  <span class="inputPlaceholder">{{title}}</span>
  {{#if errorText}}
    <span class="inputError">{{errorText}}</span>
  {{/if}}
</label>